<div class="pd-gallery" (mouseenter)="zoomed.set(true)" (mouseleave)="zoomed.set(false)">
  <div class="pd-gallery__main" [class.pd-gallery__main--zoomed]="zoomed()">
    <img [src]="validImages[selectedImageIndex]" [alt]="productName" loading="lazy" (error)="onImgError($event)" />
  </div>
  @if (validImages.length > 1) {
    <div class="pd-gallery__thumbs">
      @for (img of validImages; track $index) {
        <button
          class="pd-gallery__thumb"
          [class.pd-gallery__thumb--active]="$index === selectedImageIndex"
          (click)="selectImage($index)"
        >
          <img [src]="img" [alt]="'View ' + ($index + 1)" loading="lazy" (error)="onImgError($event)" />
        </button>
      }
    </div>
  }
</div>
